<div>
  <div class="task-heading">
    @if (task.completed) {
      <span class="task-status task-status-complete" aria-label="Completed" title="Completed"
        >&#10003;</span
      >
    } @else {
      <span class="task-status task-status-open" aria-label="Incomple" title="Not completed"></span>
    }
    <span
      class="difficulty-dot"
      [class.difficulty-easy]="task.difficulty === 'EASY'"
      [class.difficulty-medium]="task.difficulty === 'MEDIUM'"
      [class.difficulty-hard]="task.difficulty === 'HARD'"
      aria-hidden="true"
    ></span>
    <p class="task-description" [class.completed-description]="task.completed">
      {{ task.description }}
    </p>
  </div>
  <div class="task-meta">
    @if (task.dueTime) {
      <time class="task-time" [attr.datetime]="task.dueTime">{{
        formatDueTime(task.dueTime)
      }}</time>
    }
    <time class="task-due" [attr.datetime]="task.dueDate">{{ formatDueDate(task.dueDate) }}</time>
  </div>
</div>
